/* //////////////////////////////////////////////// */
/*                  shop-select                     */
/* //////////////////////////////////////////////// */

.container-navBar
{
    color: white;
}

.navBar-middle a
{
    color: white;
}

.navBar-right a
{
    color: white;
}
.container-main-select
{
    padding-top: 30px;
    width: 100%;
    height: 70vh;

    display: flex;
    flex-direction: row;
}

.container-main-img
{
    width: 75%;
    height: 100%;

    position: relative;
}

.container-main-desc
{
    width: 25%;

    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding-right: 50px;
    padding-top: 100px;
}

.select-button-return
{
    position: absolute;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.4);
    width: 150px;
    height: 50px;

    margin: 10px;

    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 10px;

    color: black;
    transition-duration: 0.5s;
    z-index: 1;
}

.select-button-return:hover
{
    background-color: rgba(0, 0, 0, 0.1);
}

.select-position-img
{

    position: relative;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%,-50%);

    width: 95%;
    height: 90%;
    
    display: flex;
    flex-direction: row;
}

.select-image
{
    background-color: rgba(0, 0, 0, 0.1);
    width: 50%;
    height: 100%;

    margin: 10px;
}
.select-image img
{
    position: relative;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%,-50%);

    width: 70%;
}

/* probleme positionement img 2 */
.select-image:nth-child(2) img:nth-child(2)
{
    transform: scaleX(-1);
    position: relative;
    top: 30%;
    left: 20%;

}


.select-image-brand
{
    width:200px;

    position: relative;
    top: 10%;
    left: 50%;

    transform: translate(-50%);
}

.select-image-brand img
{
    position: relative;
    top: 15%;
    left: 50%;

    transform: translate(-50%);
}

.main-desc-section1
{
    width:100%;


    display: flex;
    
}

.section1-gender
{
    width:80%;
    height: 100%;
    padding: 10px;
}

.section1-price
{
    width:20%;
    height: 100%;
    padding: 10px;

}

.main-desc-section2
{
    width: 100%;
}

.section2-name
{
    width: 100%;
    padding: 15px;
    font-size: 25px;
}
.main-desc-section3
{
    width:100%;
    padding-left: 10px;
}

.main-desc-section4
{
    width:100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.box-size
{
    border: 1px solid rgba(0, 0, 0, 0.3);
    flex-grow: 3;
    width:30%;
    height: 50px;
    margin: 4px;

    text-align: center;
    padding-top: 10px;
}

.box-size:hover
{
    border: 2px solid black;
}

.main-desc-section5
{
    width: 100%;

    display: flex;
    flex-direction: column;
}

.button-section-5-bag
{
    border: 2px solid black;
    background-color: black;
    border-radius: 50px;
    color: white;

    height: 70px;
    margin: 10px;
    text-align: center;

    transition-duration: 0.5s;
}

.button-section-5-bag:hover
{
    background-color: rgba(0, 0, 0, 0.8);

}

.button-section-5-fav
{
    border: 2px solid black;
    background-color: white;
    border-radius: 50px;
    color: black; 

    height: 70px;
    margin: 10px;
    transition-duration: 0.5s;

    text-align: center;
}

.button-section-5-fav:hover
{
    background-color: rgba(0, 0, 0, 0.5);   
}

.main-desc-section6
{
    width: 90%;

    font-size: 20px;
    padding: 10px;
    padding-top: 50px;
    padding-left: 20px;

}

